/* Css généric */
body {
    font-family: "Oswald" , sans-serif;
}
main {
    width: 90%;
    margin: auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
/* Header */

.header {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.navbar__logo {
    display: block;
    color: #90CAF9;
    text-transform: uppercase;
    font-size: 2em;
}
.navbar__items {
    width: 20%;
    box-sizing: border-box;
}
.navbar__items:nth-child(2) {
    width: 40%;
}
.navbar__list {
    display: flex;
    justify-content: space-around;
    
}
.navbar__list__link:hover {
    color:#90CAF9;
}
#calltoAction {
    background-color: #90CAF9;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: white;
}
#calltoAction:hover {
    background-color: #539fdd;
}
.navbar__social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__social__logo {
    width: 1.5em;
    height: 1.5em;
}
.header__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.header__content__text {
    width: 40%;
    height: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__content__image {
    width: 60%;
    height: 70%;
    box-sizing: border-box;

}
.header__content__title {
    font-size: 4em;
    color: #90CAF9;
}
.header__content__subtitle {
    font-size: 2em;
    margin-top: 0.2em;
}
.header__figure {
    width: 100%;
    height: 100%;
}

/* End of Header */
/* Description */
.description {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.description__content__image {
    width: 40%;
    height: 70%;
    box-sizing: border-box;

}
.description__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}
.description__text {
    line-height: 1.5em;
    font-size: 1.2em;
    margin-top: 2em;
}
.description__skills__title {
    font-size: 2em;
    margin-top: 2em;
    color: #90CAF9;
}
.description__skills {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.skills__list {
    width: 100%;
    height: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.skills__logo {
    margin-top: 3em;
    margin-right: 3em;
    width: 4em;
    height: 4em;
}
/* End of Description */
/*Projects */
.projects {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 100%;
    height: 150vh;
    box-sizing: border-box;
}
.projects__title {
    font-size: 3em;
    color: #90CAF9;
    text-align:center;
    margin-bottom: 1.5em;
}
.projects__card__list {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project__card {
    position: relative;
    width: 20%;
    margin-right: 5%;
    height: 35%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px 1px rgba(230,230,230,0.75);
    display: flex;
    flex-direction: column;
}
.project__visual {
    width: 90%;
    margin: 1em auto;
    height: 50%;
}
.project__title {
    color: #90CAF9;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.2em;
}
.projet__footer {
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.badge {
    background-color: #539fdd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 2em;
    border-radius:1em;
}
.project__githubLink__image {
    width: 2em;
    /*position: absolute;
    bottom: 2em;
    right: 2em;*/
}
/* End of Projects */
/* Contact */
.contact {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

}
.contact__title {
    font-size: 3em;
    color: #90CAF9;
    text-align:center;
    margin-bottom: 1.5em;
}
.contact__form__container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.contact__form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact__form__input {
    width: 60%;
    height: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: #90CAF9;
    opacity: 0.3;
    border: none;
    border-radius: 10px;
}
.contact__form__textarea {
    width: 60%;
    height: 5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: #90CAF9;
    opacity: 0.3;
    border: none;
    border-radius: 10px;
}
.contact__form__submit {
    width: 40%;
    padding: 0.5em 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: #90CAF9;
    color: white;
    border: none;
    border-radius: 10px;
}
.contact__text {
    font-size: 1.2em;
    line-height: 1.5em;
}
.contact__content {
    width: 40%;
    height: 100%;
}
/* End of Contact */
/* MédiaQueries*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .navbar__items:nth-child(2) {
        width: 60%;
    }
    .header , .description{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 200vh;
    }
    .description__content__image,.description__content {
        width: 80%;
        margin: auto;
        height: 50%;
        box-sizing: border-box;
    
    }
    .description__content {
        margin-top: 15%;
    }
    .description__figure {
        width: 70%;
        display: block;
        margin: auto;
    }

    .projects {
        height: 200vh;
        margin-top: 10%;
    }
    .project__card {
        position: relative;
        width: 40%;
        margin-right: 10%;
        height: 20%;
        margin-bottom:2em;
        max-width: 320px;
    }
    .project__title {
        font-size: 1em;
    }
    .project__githubLink__image {
        width: 1.5em;
        position: absolute;
        bottom: 0.5em;
        right: 1em;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .header__content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar__items:nth-child(1), .navbar__items:nth-child(3) {
        display: none;
    }
    .navbar__items:nth-child(2) {
        width: 100%;
        margin: auto;
    }
    .navbar__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar__list__link {
        font-size: 0.8em;
    }
    .header__content__text {
        width: 100%;
        text-align: center;
    }
    .header__content__subtitle {
        margin-top: 0.5em;
    }
    .header__content__image {
        width: 100%;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 350vh;
    }
    .description__content__image,.description__content {
        width: 80%;
        margin: auto;
        height: 70%;
        box-sizing: border-box;
    
    }
    .description__content {
        margin-top: 5%;
    }
    .description__figure {
        display: none;
    }
    .skills__logo {
        margin-right: 1em;
    }
    .projects {
        height: 500vh;

    }
    .project__card {
        width: 70%;
        max-width: 250px;
        margin: auto;
        height: 12%;
    }
    .project__githubLink__image {
        width: 1.3em;
        position: absolute;
        bottom: 1em;
        right: 1em;
    }


    .contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .contact__form__container {
        width: 100%;
        height: 70%;
    }
    .contact__form {
        width: 80%;
        margin: auto;

    }
    .contact__form__input,.contact__form__textarea , .contact__form__submit {
        width: 80%;  
    }
    .contact__form__input {
        height: 10em;
    }
    .contact__form__textarea {
        height: 30em;
    }
    .contact__content {
      display: none;
    }
}